

<div class="container">
   <div class=" information_holder ">
<div><h2> Edit Ticket <small><%= @project.name %></small></h2></div>
<%= render "form", project: @project, ticket: @ticket %>

 </div><!-- information_holder-->
</div><!-- container -->