
<div class="container">
   <div class=" information_holder ">

	<h2>New Ticket <small><%= @project.name %></small></h2>


	<%= render "form", project: @project, ticket: @ticket %>

  </div>
</div><!--container-->