<div class="container">
  <div class=" information_holder row ">
  	 <div id="about">
          <p> Edit project name or description for this current project.</p>
  	 </div><!-- About-->
<%= render "form", project: @project %>
</div><!-- information_holder -->
</div><!-- container -->