<% @title = "Home | Ticketee"%>
<div class="container">
  <div class=" information_holder row ">
   <%= notice %>
   <%= link_to "New Project", new_project_path %>
 </div><!-- information_holder -->
</div><!-- container -->