*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{

	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	background:#262626;
}
a:link{
 text-decoration:none;
}

a:visited{
  color:#eee;
}
a:hover{
	background: none;
}

p{ color:#fff; font-weight: bold; }

.container{ width: 90%; margin:0 auto; position: relative; }
header { 
	   width:100%; 
	   padding: 0.1%;
	   background:#181818;
	   border-bottom: thin solid #eee;
	   position: relative;
	   height: auto;

	   }

header #logo h1 {  font-weight:bold; color:#FFF;
  margin-top: 1%;
  margin-bottom: 1%;
}
header #logo h1 a:hover{
	background:none;
}



.header{
	width: 96%;
	background:#3f3f3f;
	height: 3.2em;
	border-top: thin solid #aaa;
	border-bottom: thin solid #aaa;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	margin-top: 2%;

}
.header h2{
	color: #FFF !important;
	margin-left: 1%;
}

.header .button_black{
	background:green;
	margin-left: 2%;
	margin-top: 0.4%;
	color: #FFF !important;
}

.m-holder{
	width: 96%;
	border: thin solid #aaa;
	border-top: none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;

}

.f-left{
	float: left;
}

#title{
	margin-bottom: 2%;
	color: #FFF;
	font-size: 90%;
	font-weight: bold;
}
.information_holder h2 {
	 margin-top:1%;
	 margin-bottom: 2%;
	 font-family: Arial,sans-serif;
	 color:#FFF;
}
.information_holder{
	margin-top:2%;
	width: 100%;
}
.label{
	color:#fff;
	margin-bottom: 0.5%;
	font-weight: bold;
} 
#prject_name_input{
  margin-bottom: 2%;
}

#prject_name_input input{
	width: 40%;
	padding: 1%;
	border: thin solid #eee;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;


}
#description_input input{
	 width: 40%;
	 padding: 1%;
	border: thin solid #eee;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#submit{
	margin-top: 2%;
}
#submit input{
	border:0;
	background:#FFF;
	color:#000;
	padding: 1%;
	font-weight: bold;
}
.submit {
	border:0;
	width: 20%;
	display: block;
	background:#FFF;
	color:#000;
	padding: 1%;
	font-weight: bold;
}


.button_black{
	border:0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:#FFF;
	color:#000 !important;
	padding: 0.5%;
	font-weight: bold;
}
.button_black:hover{
	color: #FFF !important;
	transition:all .5s ease-in-out; 
   	-o-transition:all .5s ease-in-out; 
   	-moz-transition:all .5s ease-in-out; 
   	-webkit-transition:all .5s ease-in-out;
}

.edit_button{
    margin-top: 2% !important;
    border:0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:#FFF;
	color:#000 !important;
	padding: 0.5%;
	font-weight: bold; 
}
.button_1{
	margin-top: 2% !important;
	display: block;
	width: 8%;
	text-align: center;
}

.edit_button:hover{
    background:green;
    color:#FFF !important;
    margin: 0.1%;
    cursor: pointer;
}

#submit input:hover{
	background:#000;
    color:#FFF;
    cursor: pointer;
    transition:all .5s ease-in-out; 
   	-o-transition:all .5s ease-in-out; 
   	-moz-transition:all .5s ease-in-out; 
   	-webkit-transition:all .5s ease-in-out;	
}
#list_holder{
	 width: 60%;
	 padding: 1%;
	 height: auto;
	 background:#FFF;
	 border: 0;
	 border-radius: 5px;
	 box-shadow: 0px 1px 1px #000;
}
#list_holder ul {
	 list-style-type: none;
}
#list_holder ul li {
	padding: 1%;
	border-bottom: thin solid #eee;
}
.flash{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 20%;
  position: relative;
  color: #FFF;
  background:green;
  padding: 1%;
}
#close{
	position: absolute;
	top:0;
	right: 0;
	background:#FFF;
	color: #000;
	font-weight: bolder;
	padding: 1%;
	cursor: pointer;
	border: 0;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

}

#error_explanation{
	background:red;
	padding: 1%;
	color: #fff;
	width: 40%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	margin-top: 1%;
}
#error_explanation ul {
	list-style-type: none;
}
#error_explanation h2{
	font-size: 90%;
	margin-bottom: 1%;

}
#projects{
	width: 100%;
	margin-top: 3%;

}
#projects  ul {
	list-style-type: none;
}

#projects  ul li h2 > a {
	 color: #FFF !important;
	 font-size: 86%;
	 font-weight: bold;
	 text-transform: uppercase;
}

#projects  ul li  {
	padding: 0.8%;
	padding-bottom:0.3%; 
	border-top: thin solid #333;
	border-bottom: thin solid #333;
	width: 100%;
}


#projects  ul li > p {
	 font-size: 80%;
	 color: #FFF;
}
.time_ago{
	font-size: 70%;
	color:#fafafa;
}

.timeago{
	font-size: 70%;
	color:#aaa;
	margin-top:4% !important;
}
#about > p{
	font-weight: bold;
	color: #FFF;
}
#about > p::first-letter{
	text-transform: uppercase;
}

#about{
	margin-bottom: 2%;
}


::-webkit-input-placeholder {
   color: #181818;
   font-weight: normal;
}
::-webkit-textarea-placeholder {
   color: #181818;
   font-weight:bold;
}


:-moz-placeholder { /* Firefox 18- */
   color:#181818;  
   font-weight: normal;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #181818; 
   font-weight: normal; 
}

:-ms-input-placeholder {  
   color: #181818; 
   font-weight: normal; 
}

.ticket_name{
   font-weight: bold;
   color: #FFF;
   width: 70%;
   
}
.delete{
	margin-top: 2%;
}
.delete > a{ 
	display:block; 
	background:#181818;
 	color:red !important;
    width: 15%;
    text-align: center;
    padding: 0.4%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;

}
.delete > a:hover{
	background:#333;
	color: #FFF !important;
	transition:all .5s ease-in-out; 
   	-o-transition:all .5s ease-in-out; 
   	-moz-transition:all .5s ease-in-out; 
   	-webkit-transition:all .5s ease-in-out;
}
#dep{color: #181818;}
#show{ margin-top: 2%;}
ul.tickets li > a:hover {
    background:none;
    text-decoration: underline;
}

ul.tickets li  > a{
	color: #181818;
}
.row{ display: inline;}
#user{
	width: 30%;
	height: auto;
	float: right;
	position: absolute;
	top:0;
	right: 0;

}
#user >ul{
	list-style-type: none;
}
#user > ul li {
	float: left;

}
#user > ul li:nth-child(2){
	margin-left: 3%;
}
#user > ul li , #user > ul li a{
	color: #FFF;
}

.float-right{
	float: right;
	color: #FFF !important;
	width: 50%;
}
.float-left{
	float: left;
	color: #FFF;
	width: 48%;
}
.float-left h1{
   margin-bottom: 5%;

}
.float-left ul{
	list-style-type: lower-roman;
	margin-top: 2%;
}

.float-left ul li{
	margin-top: 4%;
	margin-left: 2%;
	font-size: 108%;
}

div.input .email{
	margin-top:1%; 
	margin-bottom: 2%;
}
div.input .password{
	margin-bottom: 2%;
}
.form-inputs input[type="email"]{
	width: 60%;
	padding: 0.5%;
	margin-bottom: 1%;
	border:thin solid #eee;
	padding:1.5%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;


}
.form-inputs input[type="password"]{
	width: 45%;
	padding: 0.5%;
	margin-bottom: 1%;
	padding:1.5%;
	border:thin solid #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.form-actions  .button {
	margin-top: 3%;
	background:#333;
	width: 20%;
	padding: 0.9%;
	font-weight: bold;
	border:0;
	color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.form-actions  .button:hover {
	background:green;
	transition:all .5s ease-in-out; 
   	-o-transition:all .5s ease-in-out; 
   	-moz-transition:all .5s ease-in-out; 
   	-webkit-transition:all .5s ease-in-out;
   	cursor: pointer;
}
.form-actions{
	margin-bottom: 3%;
}

.email .required{
	display: block;
	font-weight: bold;
	margin-bottom: 1%;

}
.password .required{
	 display: block;
	 font-weight: bold;
	 margin-bottom: 1%;
}
.email .optional{
	display: block;
}
.password .optional{
	display: block;
}
.string .required{
	display: block;
	margin-bottom: 2%;
}
#ticket_name{
	width: 50%;
}

th { width: 35%; }
tr:first-child { 
          border-top: 0px;  
          color: #FFF;     
}
td, th {
   line-height: 24px !important;
   color: #FFF;
}
a.delete{
	 margin-top: 2%;
	 display: block;
	 font-weight: bold;
}
a.delete:hover{
	text-decoration: underline;
}
.navigation{ width: 100%; height:30px; background:#707070;}
 .menu ul > li a{
    position: relative;
    top: 3px;
}
.nav-header .menu ul {
  padding: 0;
  margin: 0;
}
.nav-header .menu ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
}
.nav-header .menuIcon {
  display: none;
  background: #000;
  width: 100%;
  text-align: center;
}
.nav-header .menuIcon:hover {
  background: #999;
}
.nav-header .menuIcon a {
  width: 100%;
  display: inline-block;
  color: #fff;
}
.nav-header .menuIcon a img {
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
   header { width:100%; position: relative; height: 3em; }
  .container{ width: 98%; margin:0 auto; position: relative; }
  .header{width: 	100%;}
  .m-holder{ width: 100%;}
  #user > ul li:nth-child(2){ margin-left: 15%; }
  .navigation{ width: 100%; height:auto; background:#000;	z-index: 999;}
  .nav-header .menu {
  	z-index: 999;
    max-height: 0;
    overflow: hidden;
    float: none;
    text-align: center;
    width: 100%;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  .nav-header .menu.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  .nav-header .menu ul li {
    display: block;
    width: 100%;
    background: #000;
    border-top: 1px solid #4d4d4d;
    padding-bottom: 3%;
  }
  .nav-header .menu ul li:hover {
    background: #999;
  }
  .nav-header .menu ul li a {
    color: #fff;
    font-weight: bold;
    text-shadow: #848484 0px 1px 2px;
    padding: 10px 0;
    width: 100%;
  }
  .nav-header .menuIcon {
    display: inline-block;
    height: 3em;
    line-height: 40px;
  }
}
